<html>
<head>
<title>Vue.js进阶 - 过渡效果 - 多个组件的过渡</title>
<script src="https://unpkg.com/vue/dist/vue.js"></script>
<style type="text/css">
.component-fade-enter-active, .component-fade-leave-active {
  transition: opacity .3s ease;
}
.component-fade-enter, .component-fade-leave-active {
  opacity: 0;
}
</style>
</head>

<div id="app">
  <input name="view" type="radio" v-model="view" value="v-a" />A 
  <input name="view" type="radio" v-model="view" value="v-b" />B
  <transition name="component-fade" mode="out-in">
    <component v-bind:is="view"></component>
  </transition>
</div>


<script type="text/javascript">
var app = new Vue({
  el: '#app',
  data:{
    view: 'v-a'
  },
  components: {
    'v-a': {
      template: '<div>Component A</div>'
    },
    'v-b': {
      template: '<div>Component B</div>'
    }
  }
});

</script>
</html>