<html>
<head>
<title>Vue.js入门</title>
<script src="https://unpkg.com/vue/dist/vue.js"></script>
</head>

<div id="app">
  <div>
    <h1>我是父组件的标题</h1>
    <my-component>
      <!-- 此部分内容将被分发到子slot部分 -->
      <p>这是一些初始内容</p>
      <p>这是更多的初始内容</p>
    </my-component>
  </div>
</div>


<script type="text/javascript">
Vue.component('my-component', {
  template: '<div>\
    <h2>我是子组件的标题</h2>\
    <slot>\
      只有在没有要分发的内容时才会显示。\
    </slot>\
  </div>'
})

var app = new Vue({
  el: '#app'
});

</script>
</html>